<!DOCTYPE html>
mixin card(name, id, balance)
  .card
    .icon
    .title=name
    .id=id.toString().match(/.{1,4}/g).join(" ")
    .balance #{balance ? balance : 0}&#x20BF;
    form(action="/transfer", method="post")
      input(type="hidden" name="from" value=id)
      button.transfer Transfer
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
      include /index.include.css
    title Pay Me Your Money: #{username ? username : "Stranger"}'s Profile
  body
    .logo-left
      span.part-1 Pay
      span.part-2 MeYourMoney
    form(action="/logout", method="post")
      button.log-out(type="submit") Log Out
    .greetings Hello, #{username ? username : "Stranger"}
      .description Manage your accounts here and now with PayMeYourMoney.
    .content
      .accounts
        .header
          h1 Accounts
        each card in cards
          +card(card.name, card.id, card.balance)
        form(action="/addcard", method="post")
          input(type="hidden", name="name", value="Personal Card")
          button.add-card(disabled=true) Add Card
    .advertisements
      span.label Advertisements
      .advert
        a(href="https://www.youtube.com/watch?v=KEkrWRHCDQU" target="blank")
          marquee(behavior="", direction="")
            span &#127942; Hot to win CTF without registration & SMS.
      .advert
        a(href="https://www.youtube.com/watch?v=9KZ-ptvWD6U" target="blank")
          span.blinking &#128640; Be first on mars now with our new...
      .advert.shaking
        a(href="https://lmgtfy.com/?q=how+to+google&iie=1" target="blank")
          span &#129300; To solve this task you just need to...
      .advert
        a(href="/store")
          span &#9971; Buy cheap flags.
    .footer ©2019 Paymeyourmoney, Inc. All rights reserved.
      | <br> We type of love using new technologies...


      
